{
    "ConnectionStrings": {
        "ClassName": "org.sqlite.JDBC",
        "ClassPath": "jdbc:sqlite",
        "DatabasePath": "App_Data/Clients.db"
    },
    
    "EmailConfigurations": {
        "PersonalName": "Chat-Room",
        "SenderEmail": "ClientServerChatRoom@gmail.com",
        "SenderPassword": "Team_4AHO",
        "Host": "smtp.office365.com",
        "Port": "587"
    },

    "SocketConfigurations": {
        "Host": "0.0.0.0",
        "Port": "4400",
        "Backlog": "100"
    }

}
